#Container{
    width:1000px;
    margin:0 auto;/*设置整个容器在浏览器中水平居中*/
    background:#CF3;
}
#Header{
    height:80px;
    background:#093;
}
#logo{
    padding-left:50px;
    padding-top:20px;
    padding-bottom:50px;
}
#Content{
    height:350px;
    /*此处对容器设置了高度，一般不建议对容器设置高度，一般使用overflow:auto;属性设置容器根据内容自适应高度，如果不指定高度或不设置自适应高度，容器将默认为1个字符高度，容器下方的布局元素（footer）设置margin-top:属性将无效*/
    margin-top:10px;/*此处讲解margin的用法，设置content与上面header元素之间的距离*/
    background:#0FF;
     
}
#Content-Left{
    height:300px;
    width:500px;
    margin:20px;/*设置元素跟其他元素的距离为20像素*/
    float:left;/*设置浮动，实现多列效果，div+Css布局中很重要的*/
    background:#90C;
}
#Content-Main{
    height:300px;
    width:350px;
    margin:20px;/*设置元素跟其他元素的距离为20像素*/
    float:left;/*设置浮动，实现多列效果，div+Css布局中很重要的*/
    background:#90C;
}
/*注：Content-Left和Content-Main元素是Content元素的子元素，两个元素使用了float:left;设置成两列，这个两个元素的宽度和这个两个元素设置的padding、margin的和一定不能大于父层Content元素的宽度，否则设置列将失败*/
#Footer{
    height:40px;
    background:#90C;
    margin-top:20px;
}
.Clear{
    clear:both;
}

#login{
	
	margin: 50px;
	border-color: fuchsia;
}
<!-- 轮换css-->
#banner {
    width:100%;
    float:left;
	height:400px;
	overflow:hidden;
	background-color: red;
	  }
#banner_bg {
	position:absolute;
	top:360px;
	background-color:#000;
	height:30px;
	filter: Alpha(Opacity=30);
	opacity:0.3;
	z-index:1000;
	cursor:pointer; 
	width:470px;
	 }
#banner_info{
	 position:absolute;
	 width:600px; 
	 top:360px;
	 height:22px;
	 color:#fff;
	 z-index:1001;
	 cursor:pointer
	 }
#banner img {
	width:100%;
	}
#banner ul {
	position:absolute;
	top:350px;
	list-style-type:none;
	filter: Alpha(Opacity=80);
	opacity:0.8; 
	border:1px solid #fff;
	z-index:1002; 
	 right:700px;
	 }
#banner ul li {
	padding:0px 8px;
	float:left;
	display:block;
	color:#FFF;
	border:#e5eaff 1px solid;
	background:#6f4f67;
	cursor:pointer}
#banner ul li.on { 
	background:#900
	}
#banner_list{
	width: 100%;
}
#banner_list a{
	position:absolute;
	}