#top{
	float: left;
	width: 99%;
}
#content{
	float: left;
	width: 1320px;
	height: 800px;
	background-color: #0080ff;
}
#left{
	float: left;
	width: 25%;
	height: 650px;
	background-color: #400080;
}
#left table{
	width: 100%;
	height: 100%;
	background-color: #8080ff;
	font-size: 12pt;
}

#right{
	float: left;
	width: 73%;
	height: 650px;
	background-color: #ffff00;
}
#but{
	float:left;
	width: 100%;
	
}